.main {
    padding: 0 48px;
    min-height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: thin solid black;
    width: 100%;
    padding: 36px 0;

    h1 {
        font-size: 36px;
        font-weight: bolder;
        background-color: #efefef;
        padding: 4px 16px;
        border-radius: 8px;
    }

    a {
        background-color: #efefef;
        border: thin solid #0f0f0f;
        border-radius: 4px;
        padding: 4px 12px;

        &:hover {
            background-color: #dfdfdf;
        }
    }
}

.wrapper {
    padding: 36px 0 48px;

    h1 {
        font-size: 36px;
        margin-bottom: 36px;
    }

    section {
        img {
            border: thin solid #0f0f0f;
            border-radius: 10px;
            margin-bottom: 36px;
            width: 100%;
            height: 350px;
        }

        div {
            p {
                font-size: 16px;
                margin-bottom: 36px;

                &:first-child {
                    font-weight: 500;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                row-gap: 12px;
                margin-bottom: 36px;

                a {
                    border: thin solid #0f0f0f;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    border-radius: 8px;
                }
            }

            div {
                a {
                    background-color: black;
                    border-radius: 8px;
                    border: none;
                    font-size: 16px;
                    padding: 24px;
                    display: block;
                    color: #ffffff;
                    text-align: center;
                }
            }
        }
    }
}

.footer {
    flex: 1;
    display: flex;
    justify-content: space-between;
    border-top: thin solid #0f0f0f;
    padding: 40px 0;
}


@media (min-width: 768px) {
    .main {
        padding: 0 200px;
    }

    .wrapper {
        h1 {
            font-size: 48px;
        }

        section {
            display: flex;
            flex-direction: row-reverse;
            column-gap: 40px;
            
            img {
                width: 50%;
                height: 350px;
            }

            div {
                p {
                    &:first-child {
                        font-size: 24px;
                    }
                }

                ul {
                    flex-direction: row;
                    justify-content: flex-start;
                    column-gap: 12px;

                    a {
                        width: 25%;

                        &:last-child {
                            cursor: pointer;
                        }
                    }
                }

                div {
                    a {
                        width: 30%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .main {
        padding: 0 480px;
    }

}