.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    div {
        h3 {
            margin-bottom: 8px;
        }

        p {
            margin-bottom: 16px;
        }

        ul {
            display: flex;
            align-items: center;

            li {
                list-style: none;
                padding-right: 16px;
            }
        }
    }
}