.wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 36px 0;

    div {
        border: thin solid #0f0f0f;
        border-radius: 8px;
        padding: 36px;
        flex: 1;

        p {
            padding: 16px 0 32px;
            margin-bottom: 8px;
            border-bottom: thin solid #cccccc;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 48px;

            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                &:hover {
                    color: #555555;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        flex-wrap: wrap;

        div {
            flex-grow: unset;
            flex-basis: calc(50% - 90px);
        }
    }
}

@media (min-width: 1024px) {
    .wrapper {
        div {
            flex-basis: calc(33% - 90px);
        }
    }
}