section {
    min-height: 500px;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;

    h1 {
        font-size: 40px;
        margin-bottom: 16px;
        text-align: left;
    }

    img {
        flex: 1;
        border-radius: 50%;
        margin-right: 24px;
        object-fit: cover;
    }

    div {
        flex: 2;

        p { 
            font-size: 16px;
            text-align: left;
        }
    }
}