section {
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    flex: 4;

    img {
        flex: 1;
        border-radius: 50%;
        margin-right: 24px;
    }

    div {
        flex: 2;
        h1 {
            font-size: 40px;
            margin-bottom: 16px;
            text-align: left;
        }

        p { 
            font-size: 16px;
            text-align: left;
        }
    }
}