footer {
    flex: 1;
    display: flex;

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        li {
            list-style: none;
        }
    }
}