footer {
    flex: 1;
    display: flex;
    min-height: 100px;
    border-top: thin solid #0f0f0f;

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        li {
            list-style: none;
        }
    }
}