nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    max-height: 100px;
    padding: 24px 0;

    h1 {
        font-size: 24px;
        font-weight: bolder;

        .ball {
            padding: 0.5px 15px;
            border-radius: 50%;
            background-color: #96D7DA;
        }

        .divider {
            font-weight: 500;
        }

        .title {
            font-size: 12px;
            font-weight: 500;
        }
    }

    ul {
        display: flex;
        justify-content: space-evenly;

        a {
            padding: 0 20px;
        }
    }
}