nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 24px;
        font-weight: bolder;
    }

    ul {
        display: flex;
        justify-content: space-evenly;

        a {
            padding: 0 20px;
        }
    }
}