nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;

    h1 {
        font-size: 24px;
    }

    ul {
        display: flex;
        justify-content: space-evenly;

        a {
            padding: 0 20px;
        }
    }
}